
.\data\

*.pyc

config\.json

\.idea/

data/glove/

data/repo_reaper/

data/labelled/

data/repo/

data/user/

data/embedding/word2vec/

data/embedding/glove/

data/wikipedia/content/

data/wikipedia/titles/

data/ngram/

data/epa/

data/embedding/fasttext/

data/models/cnn/

*.png

data/validation_splits/

data/models/cnn_lstm/
